html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: "Cabin", sans-serif !important;
    color: #34495e;
    font-size: 18px;
}

.my-image{
    margin: 10px 0px;
    height: 10em;
    width: 10em;
    border: 8px solid #34495e;
}

.my-name{
    font-family: "Fredoka One", sans-serif !important;
    font-size: 24px !important;
    font-weight: bold !important;
}

.my-position{
    color: #f39c12;
    margin: 10px 0px;
    font-weight: bold;
}

.my-social{
    width: 100px;
    transition: 0.3s;
}

.my-social:hover{
    color: rgba(0, 0, 0, 0.3);
}

.my-social a{
    text-decoration: none!important;
    color: inherit;
}

.my-social:hover{
    cursor: pointer;
}

.my-hr {
  border: 4px solid #34495e;
  border-radius: 5px;
}

.my-section-title{
    font-family: "Fredoka One", sans-serif !important;
    font-weight: bold;
    font-size: 20px;
}

.my-section-content-image{
    height: 3.5em;
    width: 3.5em;
}

.my-section-content-title{
    font-weight: bold;
}

.my-secton-content-period{
    color: #bdc3c7;
}